/*@define-color crust #11111b;*/
/*@define-color mantle #181825;*/
/*@define-color base #1e1e2e;*/
/*@define-color text #cad3f5;*/
/*@define-color blue #8aadf4;*/
/*@define-color sapphire #7dc4e4;*/
/*@define-color overlay #8087a2;*/

/*animations*/

@keyframes slideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

window {
  animation: slideIn 0.2s ease-in-out both;
}

#outer-box {
  border: 1px solid #1e1e2e;
  border-radius: 0.6rem;
  background-color: #1e1e2e;
  padding: 2rem;
}

#entry {
  margin: 0.15rem 0 0.15rem 0;
  padding: 0.5rem;
  animation: slideIn 0.4s ease-in-out both;
}

#input {
  margin-bottom: 1rem;
  animation: fadeIn 0.4s ease-in-out both;
}

#entry:selected {
  background-color: #767689;
  font-size: 14pt;
  font-weight: semi-bold;
}

#entry:selected #text {
  color: #1e1e2e;
}
